*{
  margin: 0;
	padding: 0;
  border: 0;
  border: none;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  outline: 0;
}

.App {
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin-top: 20vh;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: #DAA520;
}

label{
  margin-top: 55px;
  font-size: 3.5vh; 
}

.btns{
  display: flex;
  flex-direction: column;
}

#botao{
align-content: left;
height: 30px;
margin-top: 15px;
font-weight: bold;
background-color: #DAA520;
}

input{
  margin: 10px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

input, #botao{
  border-radius: 5px;
  width: 80%;
  height: 35px;
}

#resultado{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

@media (min-width: 600px){
  input, #botao{
    width: 50%;
  }
}